<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="detallesProduct.css">
    <title>Document</title>
</head>

<body>

    <div class="cont-Detalles">
        <div class="colLogo" style="background-image: url(TeslaPNG.png); background-size: 70%; background-repeat: no-repeat; background-position: center;">

            <a></a>
        </div>
        <div class="datosDetalles">
            <div class="colDetalle">
                <p class="estDetalle">Modelo</p>
                <a class="dinamDetalle">$25000</a>
            </div>

            <div class="colDetalle">
                <p class="estDetalle">Año</p>
                <a class="dinamDetalle">$25000</a>
            </div>

            <div class="colDetalle">
                <p class="estDetalle">Kilometros</p>
                <a class="dinamDetalle">$25000</a>
            </div>

            <div class="colDetalle">
                <p class="estDetalle">Combustible</p>
                <a class="dinamDetalle">$25000</a>
            </div>

            <div class="colDetalle">
                <p class="estDetalle">Motor</p>
                <a class="dinamDetalle">$25000</a>
            </div>

            <div class="colDetalle">
                <p class="estDetalle">Precio</p>
                <a class="dinamDetalle">$25000</a>
            </div>
        </div>
    </div>
</body>

</html>